@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body {
  font-family: "Monserrat", sans-serif;
  overflow-x: hidden;
}
/*====== ancho de mis tramites (siempre diviidir en section para que todo sea fluid. =========*/
/*======  =========*/
.carousel {
  margin-top: 74px;
}
.banner {
  height: 20rem;
  object-fit: cover;
}
.precio-final {
  color: #142655;
}
.btn-azul {
  background-image: radial-gradient(circle, #0a4eff, #204273);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  display: inline-block;
  text-decoration: none;
}

.btn-azul:hover {
  background-image: linear-gradient(to right, #0a4eff, #000000);
  transform: scale(1.05);
  color: #fff;
}
#bg-contactos {
  position: relative;
}
/*====== CONTACTO =========*/
/*====== formulario =========*/

.img-contacto {
  background-color: #1b2a4e;
}

/*====== pie de pagina =========*/
/*====== footer =========*/

footer {
  background-color: #1b2a4e;
  min-height: 100px;
}

footer p {
  color: #f3f3f3;
  text-align: center;
}

#iconos a {
  font-size: 26px;
  padding: 0 8xs;
  color: #f3f3f3;
}

.novedades {
  text-align: center;
}

.div-vehiculo {
  margin-top: 7rem;
}

.breadcrumb-padding {
  padding-top: 7rem;
  padding-bottom: 1rem;
}

.card-que-hacemos {
  transition: all 0.3s ease;
}

.card-que-hacemos:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(13, 110, 253, 0.15); /* primary */
  border-color: rgba(13, 110, 253, 0.3);
}

.card-equipo {
  transition: all 0.3s ease;
  border: 1px solid #eaeaea;
}

.card-equipo:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(13, 110, 253, 0.15); /* primary */
  border-color: rgba(13, 110, 253, 0.3);
}

.btn-informe {
  background-color: #ffffff;
  border: 2px solid #0d6efd;
  color: #0d6efd;
  font-weight: 600;
}
.btn-informe:hover {
  background-color: #0d6efd;
  color: #ffffff;
}

/*====== MEDIA QUARES PANTALLA SM - AJUSTAR TEXTO EN PANTALLAS CHICAS 768px =========*/
/*====== el parrafo en pantallas chicas ocupa el 90% del ancho =========*/

@media (max-width: 768px) {
  /* .banner {
    height: calc(100vh - 43rem);
    object-fit: cover; */
}
#intro,
#equipo {
  width: 90% !important;
}
.servicio-fila {
  width: 100% !important;
  text-align: center;
}
#bg-contactos {
  position: relative;
  top: -0px;
}

/* Pagina detalle */

/* Altura fija del slide */
/* .swiper-slide {
  height: 10rem !important;
} */
/*====== MEDIA QUARES PANTALLA SM - AJUSTAR TEXTO EN PANTALLAS CHICAS 576px =========*/
/*====== el parrafo en pantallas chicas ocupa el 90% del ancho =========*/

@media (max-width: 576px) {
  .icono-wrap {
    flex-wrap: wrap;
    justify-content: center !important;
  }
}
