@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: "Monserrat", sans-serif;
    overflow-x: hidden;
}
/*====== ancho de mis tramites (siempre diviidir en section para que todo sea fluid. =========*/
/*======  =========*/
.carousel{
    margin-top:74px;
}
.banner{
    height: calc(100vh - 74px);
    object-fit: cover;
}
#bg-contactos {
    position: relative;
  
}
/*====== CONTACTO =========*/
/*====== formulario =========*/
 
.img-contacto {
    background-color: #1b2a4e;
}

/*====== pie de pagina =========*/
/*====== footer =========*/

footer {
    background-color: #1b2a4e;
    min-height: 100px;
}

footer p {
    color: #f3f3f3;
    text-align: center;

}

#iconos a{
    font-size: 26px;
    padding: 0 8xs;
    color: #f3f3f3;
}

.novedades {
    text-align: center;
}

/*====== MEDIA QUARES PANTALLA SM - AJUSTAR TEXTO EN PANTALLAS CHICAS 768px =========*/
/*====== el parrafo en pantallas chicas ocupa el 90% del ancho =========*/

@media (max-width:768px){
    .banner{
        height: 300px;
        object-fit: cover;
    }
    #intro, #equipo{
        width: 90% !important;
    }
    .servicio-fila {
        width: 100% !important;
        text-align: center;
    }
    #bg-contactos {
        position: relative;
        top: -0px;
    }
}

/*====== MEDIA QUARES PANTALLA SM - AJUSTAR TEXTO EN PANTALLAS CHICAS 576px =========*/
/*====== el parrafo en pantallas chicas ocupa el 90% del ancho =========*/

@media (max-width:576px){
    .icono-wrap{
        flex-wrap: wrap;
       justify-content: center !important;
    }  
    
}
